.md-theme-indigo{
	border-bottom: 1.5px solid;
}

.left-menu{
	background-color: #106CC8;
    flex-grow: 1;
}

.md-theme-indigo{
	background-color: #106CC8 !important; 
}

.md-sidenav-left{
	height: 100%;
	width: 250px;
}

.menu{
	padding: 0px !important;
	margin: 0px !important;
	color: white;
}

.menu-element{
	display: block;
}

.pointer-cursor{
	cursor: pointer;
}

.menu-title{
	flex-direction: row;
    display: flex;
    min-width: 100%;
}

menu-title:hover, .menu-sub-element:hover{
	background-color: rgba(255, 255, 255, 0.33);
}

.menu-title-text{
	padding: 0px 10px;
}

.menu-icon{
	padding: 0px 20px;
}

.menu-sub-element{
	padding: 5px 0px 5px 60px;
}
.content{
	max-height: 0px;
}

.content.open{
	/*background: #fff;*/
    max-height: 999px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);;
    -webkit-transition-property: max-height;
    -moz-transition: 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);;
    -moz-transition-property: max-height;
    transition: 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);;
    transition-delay: inherit;
    transition-timing-function: inherit;
    transition-property: max-height;
}

.menu-sub-element{
	display: none;
}

.content.open .menu-sub-element{
	display: block !important;
}