
<!-- <div flex="" layout="row" class="layout-row flex"> -->
	<div>
		<div class="item">
			<menu-title>
			</menu-title>
			<div class="content">
				<!-- <div class="menu-element"> -->
					<div flex="" class="flex menu-sub-element">Item 1</div>
					<div flex="" class="flex menu-sub-element">Item 2</div>
					<div flex="" class="flex menu-sub-element">Item 3</div>
				<!-- </div> -->
			</div>	
		</div>

		<div class="item">
			<menu-title>
			</menu-title>
			<div class="content">
				<!-- <div class="menu-element"> -->
					<div flex="" class="flex menu-sub-element">Item 11</div>
					<div flex="" class="flex menu-sub-element">Item 21</div>
					<div flex="" class="flex menu-sub-element">Item 31</div>
				<!-- </div> -->
			</div>	
		</div>

		<div class="item">
			<menu-title>
			</menu-title>
			<div class="content">
				<!-- <div class="menu-element"> -->
					<div flex="" class="flex menu-sub-element">Item 12</div>
					<div flex="" class="flex menu-sub-element">Item 22</div>
					<div flex="" class="flex menu-sub-element">Item 32</div>
				<!-- </div> -->
			</div>	
		</div>

		<div class="item">
			<menu-title>
			</menu-title>
			<div class="content">
				<!-- <div class="menu-element"> -->
					<div flex="" class="flex menu-sub-element">Item 13</div>
					<div flex="" class="flex menu-sub-element">Item 23</div>
					<div flex="" class="flex menu-sub-element">Item 33</div>
				<!-- </div> -->
			</div>	
		</div>
	</div>
<!-- </div> -->
<!-- <div>
	<menu-toggle section="section">
		<ul class="menu-toggle-list menu">
			<li ng-repeat="option in menu" class="menu">
				<menu-link section="page" class="menu">
					<a class="md-button md-ink-ripple menu menu-element" ng-click="goToState(option.state)"> {{option.name}} </a>
				</menu-link>
			</li>
		</ul>
	</menu-toggle>
</div> -->