<md-whiteframe class="md-whiteframe-6dp" flex-sm="65" flex-gt-sm="65" flex-gt-md="65" layout layout-align="center center">
	<div layout="column" ng-cloak>    
		<md-content layout-padding layout="column" ng-cloak>
		  <form name="projectForm">

		    <md-input-container class="md-block">
		      <label>First name </label>
		      <input required name="First Name" ng-model="user.firstName">
		      <div ng-messages="projectForm.firstName.$error">
		        <div ng-message="required">First name is required.</div>
		      </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		      <label>Last name </label>
		      <input required name="Last Name" ng-model="user.lastName">
		      <div ng-messages="projectForm.lastName.$error">
		        <div ng-message="required">Last name is required.</div>
		      </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		      <label>User name </label>
		      <input required name="description" ng-model="user.userName">
		      <div ng-messages="projectForm.userName.$error">
		        <div ng-message="required">User name is required.</div>
		      </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		      <label>Password </label>
		      <input type="password" md-minlength required name="Password" ng-model="user.password">
		      <div ng-messages="projectForm.password.$error">
		        <div ng-message="required"> Password is required.</div>
		        <div ng-message="md-minlength">Password must has 8 caracters at least.</div>
		      </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		      <label>Email </label>
		      <input required type="email" name="clientEmail" ng-model="project.clientEmail"
		             minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

		      <div ng-messages="projectForm.clientEmail.$error" role="alert">
		        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
		          Your email must be between 10 and 100 characters long and look like an e-mail address.
		        </div>
		      </div>
		    </md-input-container>

		    <div>
		      <md-button type="submit">Submit</md-button>
		    </div>

		  </form>
		</md-content>
	</div>
</md-whiteframe>